<?xml version="1.0" encoding="UTF-8"?>
<!--
    ✅ CORRECTIONS APPLIQUÉES :
    Bug #3 : symfony/phpunit-bridge requis pour SymfonyExtension
             (nécessite : composer require --dev symfony/phpunit-bridge)
    Bug #4 : Suppression des 3 blocs testsuite pointant vers des fichiers
             inexistants (UtilisateurCrudTest, UtilisateurMetierTest,
             UtilisateurSecuriteTest)
    Bootstrap supprimé : PHPUnit utilise vendor/autoload.php par défaut
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         defaultTestSuite="all"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
    </php>

    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Kernel.php</file>
        </exclude>
    </coverage>

    <extensions>
        <bootstrap class="Symfony\Bridge\PhpUnit\SymfonyExtension" />
    </extensions>

</phpunit>
