@use "@styles/variables";
@use "@styles/mixins";

.button {
    background-color: variables.$tertiary;
    padding: 2% 5%;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0 4px 12px -1px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;

    &:hover {
        margin: 0 0 0 2%;
        transition: all 0.3s;
    }
}